a {
  color: #334;
}
b {
  color: red;
}
i {
  color: red;
}
body {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 768px) {
  body {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  a {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  b {
    color: red;
  }
}
body {
  height: 50px;
}
@media screen and (max-width: 768px) {
  body {
    height: 50px;
  }
}
body {
  height: 50px;
  width: 100px;
  background-color: blue;
}
body a {
  color: red;
}
body {
  animation: zz 3s infinite;
}
@keyframes zz {
  from {
    width: 50px;
  }
  to {
    width: 100px;
  }
}
